<html>
<head>
  <title>News</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>

  <header>
    <img src ='image/mike.png'>
    <h1>The News</h1>

    <align="left"><input type='text' placeholder='Search'>
     <button type="button">Search</button>
    <button type="button">Login</button>
  </align>
  </header>

  <div class="topnav">
    <a   href="index.html">Home</a>

      <a>Sports</a>

     <a>Entertainment</a>
      
     
   <a >AllSection</a>

  </div>

  <div class="row">
      <div class="card">
          <img src="image/1.png">
          <b></b>
          <a></a>
          <p class="grey"></p>

      </div>

         <div class="card">
          <img src="image/2.png">
          <b></b>
          <a></a>
          <p class="grey"></p>

      </div>

         <div class="card">
     <img src="image/3.png">
          <b></b>
          <a></a>
          <p class="grey"></p>

      </div>


  </div>


  <div class="row">
      <div class="card">
        <img src="image/4.png">
          <b></b>
          <a></a>
          <p class="grey"></p>

      </div>

         <div class="card">
      <img src="image/5.png">
          <b></b>
          <a></a>
          <p class="grey"></p>

      </div>

         <div class="card">
         <img src="image/6.png">
          <b></b>
          <a></a>
          <p class="grey"></p>

      </div>


  </div>

<footer><p>Copyright 2019 News</p></footer>
  
</body>
</html>
