head>
  <title>News</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <header>
    <img src ='image/mike.png'>
    <h1>The News</h1>

    <align="left"><input type='text' placeholder='Search'>
     <button type="button">Search</button>
    <button type="button">Login</button>
  </align>

  </header>

  <div class="topnav">
    <a href="index.html">Home</a>

      <a>Sports</a>

     <a >Entertainment</a>

   <a>AllSection</a>

  </div>

  <table>
    <tr>
        <th>Sno</th>
          <th></th>
           <th>City</th>
           <th>Weather</th>

    </tr>

  <tr>
      <td>1</td>
      <td><img src="image/sunny.png"></td>
      <td>Belgaum</td>
      <td>Hot</td>


  </tr>

       <tr>
      <td>2</td>
      <td><img src="image/cold.png"></td>
      <td>Mumbai</td>
      <td>Cold</td>


  </tr>

       <tr>
      <td>3</td>
      <td><img src="image/cloudy.png"></td>
      <td>Kolkata</td>
      <td>Cloudy</td>


  </tr>

       <tr>
      <td>4</td>
      <td><img src="image/cloudy.png"></td>
      <td>Delhi</td>
      <td>Cloudy</td>


  </tr>

       <tr>
      <td>5</td>
      <td><img src="image/rainy.png"></td>
      <td>Bangalore</td>
      <td>Rainy</td>


  </tr>


  </table>
<footer><p>Copyright 2019 News</p></footer>
  
</body>



</html>
